:root{
    --color1:#F4511E;
}

@font-face {
    font-family:Montesrrat ;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

.mybgcolor{
    background-color: var(--color1) !important;
}

.nav-link{
    color: #fff !important;
}

nav{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Montesrrat;
    font-size: 12px;
   

    
}


.nav-item .active,.nav-link:hover{
    background-color: white!important;
    color: var(--color1)!important;
}

.navbar-toggler-icon{
    background-image: none;
}
.navbar-toggler:focus{
    box-shadow: none!important;
    background-color: lightgray;
}


.iconcolor{
    color: var(--color1);
}


@media screen and (max-width : 767px){

    .navbar-nav{
        border-top:1px solid white;
    }
}